<input autocomplete="off" class="puzzle-size-input" [formField]="selectedPieceSizeIndex" type="range" step="1" />

<div class="puzzle-size-output">
  <span class="min-value"> Petit </span>
  <span class="current-value">
    @if (puzzleSizeParameters(); as puzzleSizeParameters) {
      <span> {{ puzzleSizeParameters.horizontalPieceCount }}x{{ puzzleSizeParameters.verticalPieceCount }} </span>
      <span>({{ puzzleSizeParameters.horizontalPieceCount * puzzleSizeParameters.verticalPieceCount }} pièces)</span>
    }
  </span>
  <span class="max-value"> Grand </span>
</div>
